body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth; /* Smooth scrolling between sections */
  }


.header {
    display: flex;
    flex-direction: row; /*Defines the main axis*/
    justify-content: center; /*Controls horizontal alignment of items along main axis*/
    align-items: flex-start; /*Controls vertical alignment of items along cross axis*/
    color: orange;
    font-size: 1.5rem;
}

.header p {
    padding: 0em 0.2em;
}


/*
Home page classes
*/

.home-page {
    height: 100vh; /*element will be 100% of the viewport height*/
}

.background-image {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url('lake sky.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.nav-bar {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/*Modifies all a elements whose parent has the nav-bar class*/
.nav-bar a {
    color: orange;
    padding: 2rem 2rem; /*adjusts spacing within the content of each <a> element and its border*/
}

.intro-text {
    color: orange;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;
}

.intro-text #line1 {
    position: relative; /*shifts the first <p> element relative to its position in the <div>*/
    top: 2rem;
}

.homepage-links {
    display: flex;
    justify-content: center;
}

.linkedin-link {
    opacity: 0.65;
}

.github-link {
    opacity: 0.65;
    margin-top: 0.5em;
}



/*
About me page classes
*/

.about-section {
    min-height: 100vh; /*Makes the height of the element's content equivalent to the viewport height*/
    display: flex;
    flex-direction: column; /*We want the header to be positioned vertically above the rest of the content*/
    align-items: center; /*determines how items are positioned along the cross-axis (row, in this case)*/
}

/*Holds the image and the text*/
.about-content {
    display: flex;
    flex-direction: row; /*We want text and image elements to be positioned side-by-side one another*/
    justify-content: space-between;
    gap: 4rem;
}

.about-me-text {
    position: relative;
    top: 6em;
    color: white;    
    max-width: 40%; /*sets the maximum width of the container to 45% of the viewport width*/
    white-space: normal; /*Allows text to wrap onto next line once edge of container reached*/
    word-break: break-word; /*Breaks long, continuous string of text without spaces so that it wraps to next line instead of keeping it on same line*/
    margin-left: auto;
}

.my-pic {
    opacity: 0.9;
    position: relative;
    top: 6rem;
    margin-right: auto;
}

#about-me-description {
    position: relative;
    top: 1rem;
}



/*
Skills page classes
*/

.skills-page {
    height: 100vh; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.skill-page-content {
    display: flex;
    flex-direction: row; /*arranges items on page horizontally*/
    gap: 2rem;
    margin-top: 5rem;
}

.box-languages-wrapper {
    display: flex;
    flex-direction: column; /*Arrange box and languages-container vertically*/
    align-items: flex-start;
}

.box {
    width: 300px;
    height: 200px;
    background-color: rgb(34, 34, 131);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.box-title {
    color: orange;
}

.box-inner-text {
    color: rgb(203, 3, 203);
    text-align: center;
    font-size: 80%;
}

.languages-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column; /*Stacks the lines of text in the language container vertically*/
    gap: 0.5rem;
}

.languages-line {
    color: orange;
    display: flex;
    flex-direction: row; /*Arranges the words on each line horizontally*/
    justify-content: space-between; 
    gap: 1em;
}




/*
Project page classes
*/

.projects-page {
    height: 100vh; 
    display: flex;
    flex-direction: column; /*Aligns child elements (header and page content) vertically*/
    align-items: center; /*in the center of the page*/
}

.project-page-header {
    color: orange;
    font-size: 1.3rem;
}

.project-page-content {
    display: flex;
    flex-direction: column; /*Aligns child elements (project-desc-img wrappers) vertically*/
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
}

.project-desc-img-wrapper {
    display: flex;
    flex-direction: row; /*Aligns elements nested within the wrapper horizontally*/
    justify-content: space-between;
    gap: 15rem; /*Increases gap between elements within the wrapper*/
}

.project-header {
    color: rgb(237, 31, 237); 
    font-size: 1.5rem; 
    margin-left: 4rem;
}

.project-subheader {
    color: rgb(237, 31, 237); 
    font-size: 1rem; 
    margin-left: 4rem;
}


.project-desc {
    color: rgb(255, 255, 255);
    width: 40vw;
    font-size: 12px;
    margin-left: 4rem;
}

.project-media {
    position: relative; /*Positions the media relatively within the wrapper*/
    right: 7rem;
}


