#home-page{
    background-color: rgb(24, 20, 87);
    height: 100vh; /*element will be 100% of the viewport height*/
}

/*
Classes
*/

.header {
    color: orange;
    position: relative;
    top: 10vh;
}

.inner-box {
    background-color: rgb(50, 13, 78);
    height: 70%; /*height of this element will be 10% of parent element's height*/

    position: relative;
    top: 10vh; /*element will be positioned at 30% of the viewport height*/
    margin: 0em 3em; /*sets a margin of 0 on T/B and 5 relative to parent element on L/R*/
}

.intro-text {
    position: relative;
    left: 100px;
    font-size: 0.8rem;
    color: white;
}

